{% extends 'zoop/site_base.html'%}
{% load static %}
{%block container%}
<head>
  <style>
  input.hidden {
    position: absolute;
    left: -9999px;
  }

  #profile-image1 {
    width: 100px;
    height: 100px;
    border: 2px solid #03b1ce ;}
    .tital{ font-size:16px; font-weight:500;}
    .bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0}
    </style>
  </head>
  <body>
                <h4 style="color:#00b1b1;">{{user}} </h4></span>
                  USER'S E-MAIL
                    <div align = "center" style ="padding-top:10px;"><img alt="User Pic" src="{{MEDIA_URL}}/avatars/{{request.user.id}}.jpg" id="profile-image1" class="img-circle img-responsive">
                </div><br><br>
                <h5>Update Avatar</h4>
          {% include 'zoop/upload_avatar.html' %}
          <a href = "/password">asa</a>
  </body>
  {%endblock%}
