{% extends 'zoop/timeline_page.html' %}
{% load static %}
{% block content %}
<div class = "container card bg-light card-body" style = "margin-bottom: 0.5%;">
<div class="row">
        <div class="col-md-2">
      <p>John</p>
      <img src="{% static 'zoop/ph.png' %}" class="rounded-circle" height="55" width="55" alt="Avatar">
    </div>
  <div class="col-md-10">
      Just Forgot that I had to mention something about someone to someone about
        how I forgot something, but now I forgot it. Ahh, forget it! Or wait. I
        remember.... no I don&apos;t.
      </div>
      <div class ="zbtn" style = "margin: auto;">
      <button type="button" class="btn btn-secondary btn-sm"> <span class="glyphicon glyphicon-thumbs-up"></span>React</button>
      <button type="button" class="btn btn-secondary btn-sm"> <span class="glyphicon glyphicon-thumbs-up"></span>Rezoop</button>
    </div>
    </div>
  </div>
{% endblock %}
