{% extends 'zoop/login_base.html' %}
{% block content %}
  <h1 class="form-signin-heading">Sign in</h1>
  <form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    {{ form.as_p }}
  </form>
  <div class="row">
    <div class="col-md-6">
      <h5>No Zoop account?<a href="register">  Register</a> now.</h5>
    </div>
    <div id="forgot_password" class="col-md-6">
      <h5><a href="changepassword">  Forgot password?</a></h5>
    </div>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
{% endblock %}
