{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'zoop/favicon.ico' %}">
    <title>Zoop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "zoop/style.css" %}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static "zoop/form.css" %}">
  </head>

  <body>
    <div class="container">
      <div class = "row" id = "logo">
        <div class="col">
          <a href = "/" style = "text-decoration: none;"><h1 class='text-center'>👉😎👉</h1></a>
        </div>
      </div>
      <!-- TODO: Would be nice to center this vertically-->
      <div class = "row" id = "form-block">
        <!-- TODO: Center this somehow-->
        <div class="col-md-9 mx-auto">
          <div class="card bg-light card-body">
            {% block content %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div> <!-- /container -->


  </body>
</html>
