{% extends 'zoop/timeline_page.html' %}
{% load static %}
{% block content %}
{%for post in posts%}
<div class="row mb-3">
  <div class="col-md-3">
    <div class="card bg-light card-body ">
      <p>{{post.user}}</p>
      <img src="{% static 'zoop/ph.png' %}" class="rounded-circle" height="55" width="55"
      alt="Avatar">
    </div>
  </div>
  <div class="col-md-9">
    <div class="card bg-light card-body card-post">
      <p>{{post.content}}</p>
      </div>
    </div>
</div>
{% endfor %}
{% endblock %}
