{% block content %}
{% load extra_templates %}
  {% for reaction in reacts %}
  <div class='col'>
    <form method="post" action="{%url 'react' post_id=post.post_id react_id=forloop.counter%}">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ request.path }}">
      {%if not current_reacts|get_item:post.post_id %}
        <button type="submit" class="btn btn-outline-primary" role="button">{{reaction}}</button>
      {% else %}

        {% if current_reacts|get_item:post.post_id == forloop.counter%}
            <button data-placement="top" tabindex="0" type="submit" class="btn btn-outline-primary active" role="button"
            data-toggle="tooltip" data-trigger="hover" title="Click to deselect">{{reaction}}</button>
        {% else %}
        <div  data-placement="top" data-toggle="tooltip" title="To use this react deselect the previous one" data-trigger="hover">
          <button tabindex="0" type="submit" class="btn btn-outline-primary" disabled role="button">{{reaction}}</button>
        </div>
        {% endif %}
      {%endif%}
      {% for r in react_count|get_count_list:post.post_id %}
        {% if forloop.counter == forloop.parentloop.counter %}
        <p>{{r}}</p>
        {% endif %}
      {%endfor%}
    </form>
  </div>

  <script>

  </script>

  {% endfor %}
{% endblock %}
