{% extends 'zoop/site_base.html'%}
{%block container%}
{% load static %}
<div class="row">
    <div class="col-md-3 well">
        <div class="card bg-light card-body mb-3">
            <p><a href="profile">{{request.user.username}}</a>
            </p>
            <img src="{% static 'zoop/ph.png' %}" class="rounded-circle" height="65" width="65" alt="Avatar" style = "margin: auto;">
        </div>
        <div class="card bg-light card-body mb-3">
            <p><a href="#">Emoji of the Day</a>
            </p>
        </div>
        <div class="card bg-light card-body mb-3">
            <p>Featured Zoop</p>
        </div>
    </div>
    <div class="col-md-7">
        <div class="row">
            <div class="col-md-12" style = "margin-bottom: 2.5%;">
                <div class="card text-left">
                    <div class="card-body">
                        <p contenteditable="true">😂👌🔥💯</p>
                        <button type="button" class="btn btn-secondary btn-sm"> <span class="glyphicon glyphicon-thumbs-up"></span>Post</button>
                    </div>
                </div>
            </div>
        </div>
        {% block content %}
        {% endblock %}
    </div>
</div>
{%endblock%}
