{%load static%}
{%for post in posts%}
<div class="row mb-3">
  <div class="col-md-3">
    <div class="card bg-light card-body ">
      <a href='/profile/{{post.user.id}}'><p>{{post.user}}</p></a>
      <img src="{% static 'zoop/ph.png' %}" class="rounded-circle" height="55" width="55"
      alt="Avatar">
    </div>
  </div>
  <div class="col-md-9">
    <div class="card bg-light card-body card-post">
      <p class = 'emoji-font'>{{post.content}}</p>
      {%if request.user.id != post.user.id%}
      <form method="post" action="{%url 'rezoop' post_id=post.post_id%}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <button type="submit" class="btn btn-secondary">Rezoop</button>
      </form>
      {% else %}
      <!--TODO ADD CONFIRM -->
      <form method="post" action="{%url 'delete_post' post_id=post.post_id%}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <button type="submit" class="btn btn-secondary">Delete</button>
      </form>
      {%endif%}
      {% if post.user.id != post.original_poster.id %}
      <p>REZOOPED from <a href='/profile/{{post.original_poster.id}}'>{{post.original_poster}}</a></p>
      {% endif %}
    </div>
  </div>
</div>
{% empty %}

<div class="col-md">
  <div class="card bg-light card-body card-post">
    <p>NOTHING TO SEE HERE 😎</p>
  </div>
</div>

{% endfor %}
