{%load static%}
{%for post in posts%}
<div class="row mb-3">
  <div class="col-md-3">
    <div class="card bg-light card-body ">
      <a href='/profile/{{post.user.id}}'><p>{{post.user}}</p></a>
      <img src="{% static 'zoop/ph.png' %}" class="rounded-circle" height="55" width="55"
      alt="Avatar">
    </div>
  </div>
  <div class="col-md-9">
    <div class="card bg-light card-body card-post">
      <p>{{post.content}}</p>
    </div>
  </div>
</div>
{% empty %}

<div class="col-md">
  <div class="card bg-light card-body card-post">
    <p>NOTHING TO SEE HERE 😎</p>
    </div>
  </div>

{% endfor %}
