{% load static %}
<div id ="wcard" class = "card card-body" style = "display:none;"><h1>Welcome to Zoop!</h1>
<h5>where emojis are a way of life</h5>
<br><br>
<ul id = "ftrs" style ="text-align: left;">
  <li><h6>Be part of a growing active community </h6></li>
  <li><h6>Share zoops with friends, where every 10 characters require an emoji</h6></li>
  <li><h6>Follow your friends and populate your timeline with the latest zoops</h6></li>
  <li><h6>React to zoops and rezoop them to share them with your friends</h6></li>
  <li><h6><a href = "/register">Register now</a> and get ready to zoop 👉😎👉</h6></li>
</ul>
</div>

<script
src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>
    <script src= "{% static "zoop/wl.js"  %}"></script>
