@font-face {
  font-family: 'EmojiFont';
  src:  url('emojione-svg.woff2') format('woff2'),
        url('emojione-svg.woff') format('woff');
}
.card-post{
  height:100%;
}
.margin-bottom{
  margin-bottom: 100px;
}
.pagination {
   justify-content: center;
}



.emoji-font{
  font-family: EmojiFont;
}
