*{
  font-family: 'Ubuntu', sans-serif;
}
body{
  background-color: #fff5af;
}

#Terms a {
  color: blue;
}

#forgot_password {
  text-align: right;
}

.errorlist{
  color: rgb(255, 0, 0);
}

.follow {
  margin-top: 10px;
}
