*{
  font-family: 'Ubuntu', sans-serif;
}
body{
  background-color: #fff5af;
}
  /* Set black background color, white text and some padding */
footer {
  background-color: rgba(33, 37, 41, 0.85);
  color: white;
  padding: 15px;
  position: fixed;
  left: 0;
  bottom: 0;
}

#Terms a {
  color: blue;
}

#forgot_password {
  text-align: right;
}

.errorlist{
  color: rgb(255, 0, 0);
}
